/**************************************
            Variables
**************************************/
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  --font-familly-spartan: "League Spartan", sans-serif;
}
/**************************************
            CSS Reset
**************************************/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/**************************************
            Shared CSS
**************************************/
body {
  font-family: var(--font-familly-spartan);
  font-size: 15px;
}

/**************************************
            Main styles
**************************************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/images/bg-pattern-top-mobile.svg) left top no-repeat,
    url(/images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
}

/**************************************
       Title and paragraph styles
**************************************/
.intro {
  text-align: center;
}
.title {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 3rem;

  line-height: 3rem;
}
.desciption {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--Dark-Grayish-Magenta);
}

/**************************************
            reviews styles
**************************************/
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}
.stars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.revie {
  background-color: var(--Light-Grayish-Magenta);
  margin-bottom: 1rem;
  padding: 15px;
  border-radius: 5px;
}

/**************************************
            Buyers styles
**************************************/
.buyer-wrapper/*.selected-b*/ {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.selected-b {
  background-color: var(--Very-Dark-Magenta);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
.buyer-names {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 0.9rem;
  margin-bottom: 10px;
}
.buyer-names > img {
  border-radius: 50%;
  width: 40px;
}
.names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
.name-title {
  color: var(--Light-Grayish-Magenta);
}
.verified {
  color: var(--Soft-Pink);
  font-weight: 400;
  align-self: start;
  justify-content: start;
}
.description-para {
  color: var(--Light-Grayish-Magenta);
}
/**************************************
            Media Querie styles
**************************************/
@media (min-width: 925px) {
  /********************************************************

  made a mistake here by not wraping html sections properly 
  so i made another iteration to the first attempt to solve this project
  i need to make every thing dispalyed as grid no flex box 
  body need to be defined as grid
  also container as grid 
  the other section also grid
  *********************************************************
        REMEMBER ALWAYS DOCUMENT YOUR MISTAKES 
        TO LEARN FROM THEM IN THE FUTURE
  *********************************************************
  .container{
    display: grid;
    place-content: center;
    margin: 10%;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-areas: 
    " alias-intro alias-intro alias-intro alias-stars alias-stars"
    "alias-buyer1 . alias-buyer2 . alias-buyer3";
  }

  .intro{
    grid-area: alias-intro;
  }
  .stars{
    grid-area: alias-stars;
  }


  .buyer1{
    grid-area: alias-buyer1;
    justify-content: start;
    align-self: start;
  }
  .buyer2{
    grid-area: alias-buyer2;
    justify-self: center;
    align-self: center;
  }
  .buyer3{
    grid-area: alias-buyer3;
    justify-content: end;
    align-items: end;
  }*/

  body {
    display: grid;
    background: url(/images/bg-pattern-top-desktop.svg) no-repeat scroll 0% 0%;
    background: url(/images/bg-pattern-bottom-desktop.svg) no-repeat scroll 100%
      100%;
    width: 100%;
    height: auto;
  }
  /*****************************************
          Main Grid
  *******************************************/
  .container {
    display: grid;
    place-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      " alias-title alias-stars"
      "alias-buyers alias-buyers";
    margin: 10%;
    -webkit-box-shadow: 0px 0px 15px 8px #ababab;
    box-shadow: 0px 0px 15px 8px #ababab;
    border-radius: 5px;
    padding: 80px;
    background: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .intro {
    display: grid;
    grid-area: alias-title;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      " alias-title "
      "alias-description ";
  }
  .stars {
    display: grid;
    grid-area: alias-stars;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "alias-reviews-1"
      "alias-reviews-2"
      "alias-reviews-3";
    width: 100%;
    height: 100%;
  }
  .main-buyers {
    grid-area: alias-buyers;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    grid-template-areas: " alias-buyer1  alias-buyer2  alias-buyer3";
    column-gap: 2%;
  }
  /**************************************************
                Sub Grids
  ***************************************************/
  /************* Intro Grid ********************/
  .title {
    grid-area: alias-title;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    font-size: 3rem;
    margin-right: 35%;
    line-height: 3rem;
    margin-top: 40px;
    text-align: start;
  }
  .desciption {
    grid-area: alias-description;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--Dark-Grayish-Magenta);
    margin-right: 20%;
    text-align: start;
  }
  /************* Stars Grid ********************/

  .reviews-1 {
    grid-area: alias-reviews-1;
    align-self: end;
    justify-self: center;
    margin: 0;
    width: 70%;
    margin-right: 120px;
    transition: transform 0.5s;
  }
  .reviews-1:hover {
    transform: translate(-10%, 0);
  }
  .reviews-2 {
    grid-area: alias-reviews-2;
    align-self: center;
    justify-self: center;
    width: 70%;
    margin-right: 60px;
    transition: transform 0.5s;
  }
  .reviews-2:hover {
    transform: translate(-10%, 0);
  }
  .reviews-3 {
    grid-area: alias-reviews-3;
    align-self: start;
    justify-self: center;
    width: 70%;
    transition: transform 0.5s;
  }
  .reviews-3:hover {
    transform: translate(-10%, 0);
  }
  .stars-container {
    display: flex;
  }
  .revie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 7px;
  }
  .rating {
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    margin-left: 10px;
  }
  /********************Buyers Grid******************/

  .buyer1 {
    grid-area: alias-buyer1;
    align-self: start;
    justify-self: start;
    transition: transform 0.5s;
  }
  .buyer1:hover {
    transform: translate(0, -10%);
  }
  .buyer2 {
    grid-area: alias-buyer2;
    align-self: center;
    justify-self: center;
    transition: transform 0.5s;
    margin: 0;
  }
  .buyer2:hover {
    transform: translate(0, -10%);
  }
  .buyer3 {
    grid-area: alias-buyer3;
    justify-self: end;
    align-self: end;
    margin: 0;
    transition: transform 0.5s;
  }
  .buyer3:hover {
    transform: translate(0, -10%);
  }
}
